:root {
    --basic-col: darkslategrey;
    --blue-col: #0f52ba;
    --baby-col: #55dcfa;
    --red-col: #bd3a22;
    --green-col: #0b6623;
    --light-col: #fae0cd;
}

.bg-color{
	background-color: blanchedalmond !important;
}


